<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页面</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/detail.css">
    <script src="../jquery-1.9.1.min.js"></script>
    <script src="/vue.min.js"></script>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../datatable/datatable/datatables.min.css">
    <link rel="stylesheet" href="../fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="../datatime/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../datatable/datatable/DataTables-1.10.18/css/dataTables.bootstrap.min.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../datatable/datatable/datatables.min.js"></script>
    <script src="../bootbox/bootbox.min.js"></script>
    <script src="../datatime/bootstrap-datetimepicker.min.js"></script>
    <script src="../fileinput/js/fileinput.min.js"></script>
    <script src="../fileinput/js/locales/zh.js"></script>
    <script src="../datatime/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../datatable/datatable/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="../js/dateFormat.js"></script>
    <style type="text/css">
        *{margin:0;padding:0;}
        #banner{margin:40px auto;width:1226px;height:460px;background-color:#ff6700;position:relative;}
        .item{display:none;list-style:none;}
        .nav a{
            display: inline-block;
            height: 100%;
            color: #B0B0B0;
            line-height: 40px;
        }
        .nav a:hover {
            color:#B0B0B0;
        }
    </style>

</head>

<body>
<!--头部信息-->

<div class="head">
    <div class="nav clearfix">
        <div class="nav-left">
            <ul>
                <li><a href="#">小米商城</a><span>|</span></li>
                <li><a href="#">MIUI</a><span>|</span></li>
                <li><a href="#">IoT</a><span>|</span></li>
                <li><a href="#">云服务</a><span>|</span></li>
                <li><a href="#">金融</a><span>|</span></li>
                <li><a href="#">有品</a><span>|</span></li>
                <li><a href="#">小爱开放平台</a><span>|</span></li>
                <li><a href="#">企业团购</a><span>|</span></li>
                <li><a href="#">资质证照</a><span>|</span></li>
                <li><a href="#">协议规则</a><span>|</span></li>
                <li><a href="#">下载app</a><span>|</span></li>
                <li><a href="#">智能生活</a><span>|</span></li>
                <li><a href="#">Select Location</a><span>|</span></li>
            </ul>
        </div>


        <div class="nav-car">
            <a href="#">
                <em class="car"></em>
                <em>购物车</em>
            </a>
            <div class="nav-car-list">
                <p>购物车中还没有商品，赶紧选购吧！</p>
            </div>
        </div>
        <div class="nav-right">
            <ul>
                <li>
                    <div id="app">
                        <div v-if="user === '' ">
                            <a href="./login">登录</a> <span>|</span> <a href="#">注册</a><span>|</span>
                        </div>
                        <div v-else>
                            <a href="./geren" ><span v-model="user.userName"> <input v-model="user.userName" /></span>  </a><span>|</span>
                            <a href="javaScript:zhuxiao()">注销</a><span>|</span>
                        </div>
                    </div>
                </li>
                <li><a href="#">消息通知</a></li>
            </ul>
        </div>
    </div>


</div>


<div class="nav clearfix" style="height: 100px">
    <div class="content-head clearfix" style="float:left;margin-top: 20px">


        <div class="logo-box">
            <a href="index">
                <div class="logo">
                    <img src="../images/mi-home.png" alt="MI">
                    <img src="../images/mi-logo.png" alt="MI">
                </div>
            </a>
        </div>


        <div id="ggg" style="float: left;margin-left: 75px;line-height: 50px;text-align: center;font-size: 16px;">
            <b><a href="#">全部商品分类</a></b>
        </div>



        <div class="guid">
            <ul>
                <li><a href="#">小米手机</a></li>
                <li class="asda"><a href="#">Redmi红米</a></li>
                <li class="asda"><a href="#">电视</a></li>
                <li class="asda"><a href="#">笔记本</a></li>
                <li class="asda"><a href="#">家电</a></li>
                <li class="asda"><a href="#">路由器</a></li>
                <li class="asda"><a href="#">智能硬件</a></li>
                <li class="asda"><a href="#">服务</a></li>
                <li class="asda"><a href="#">社区</a></li>
            </ul>
        </div>

        <div class="search-box">
            <input type="text" class="input" placeholder="耳机">
            <div class="search-icon"></div>
        </div>
    </div>
</div>


<div class="mi-detail" style="height:1700px;">
    <div data-v-70283663="" class="product-box container">
        <div data-v-70283663="" class="img-left">
            <div data-v-7121d496="" data-v-70283663="" class="product-imglist J_imgListBox">
                <div data-v-7121d496="" class="img-box J_imgList">
                    <div data-v-7121d496=""
                         class="swiper-container J_slider_imglist swiper-container-fade swiper-container-initialized swiper-container-horizontal">
                        <div data-v-7121d496="" class="swiper-wrapper clearfix"
                             style="transition-duration: 0ms;">
                            <div data-v-7121d496=""
                                 class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                 data-swiper-slide-index="4"
                                 style="width: 561px; transition-duration: 0ms; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                <img data-v-7121d496="" th:src="@{('.'+${product.images})}"></div>
                            <div data-v-7121d496="" class="swiper-slide swiper-slide-duplicate-next"
                                 data-swiper-slide-index="0"
                                 style="width: 561px; transition-duration: 0ms; opacity: 1; transform: translate3d(-561px, 0px, 0px);">
                                <img data-v-7121d496="" th:src="@{('.'+${product.images})}">
                            </div>
                            <div data-v-7121d496="" class="swiper-slide" data-swiper-slide-index="1"
                                 style="width: 561px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1122px, 0px, 0px);">
                                <img data-v-7121d496="" th:src="@{('.'+${product.images})}">
                            </div>
                            <div data-v-7121d496="" class="swiper-slide" data-swiper-slide-index="2"
                                 style="width: 561px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1683px, 0px, 0px);">
                                <img data-v-7121d496="" th:src="@{('.'+${product.images})}">
                            </div>
                            <div data-v-7121d496="" class="swiper-slide swiper-slide-prev"
                                 data-swiper-slide-index="3"
                                 style="width: 561px; transition-duration: 0ms; opacity: 1; transform: translate3d(-2244px, 0px, 0px);">
                                <img data-v-7121d496="" th:src="@{('.'+${product.images})}">
                            </div>
                            <div data-v-7121d496="" class="swiper-slide swiper-slide-active"
                                 data-swiper-slide-index="4"
                                 style="width: 561px; transition-duration: 0ms; opacity: 1; transform: translate3d(-2805px, 0px, 0px);">
                                <img data-v-7121d496="" th:src="@{('.'+${product.images})}">
                            </div>
                            <div data-v-7121d496=""
                                 class="swiper-slide swiper-slide-duplicate swiper-slide-next"
                                 data-swiper-slide-index="0"
                                 style="width: 561px; transition-duration: 0ms; opacity: 0; transform: translate3d(-3366px, 0px, 0px);">
                                <img data-v-7121d496="" th:src="@{('.'+${product.images})}">
                            </div>
                        </div>
                        <div data-v-7121d496=""
                             class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                                        <span class="swiper-pagination-bullet" tabindex="0" role="button"
                                              aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet"
                                                                                      tabindex="0" role="button"
                                                                                      aria-label="Go to slide 2"></span><span
                                class="swiper-pagination-bullet" tabindex="0" role="button"
                                aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet"
                                                                        tabindex="0" role="button"
                                                                        aria-label="Go to slide 4"></span><span
                                class="swiper-pagination-bullet swiper-pagination-bullet-active"
                                tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
                        <div data-v-7121d496="" class="swiper-button-next" tabindex="0" role="button"
                             aria-label="Next slide"></div>
                        <div data-v-7121d496="" class="swiper-button-prev" tabindex="0" role="button"
                             aria-label="Previous slide"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-70283663="" class="product-con" style="height:1200px;">
            <h2 data-v-70283663="">
                <img data-v-70283663=""
                     src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/5140715760aa69c857147650cd40c33a.jpg">
                <span th:text="${product.title}"></span>
            </h2>
            <p data-v-70283663="" class="sale-desc" style="text-align:left;">
                <font color="#ff4a00" th:text="${product.subtitle}"></font>
                <font th:text="${product.detail}"></font>
            </p>
            <p data-v-70283663="" class="company-info" style="text-align:left;">小米自营</p>
            <div data-v-70283663="" class="price-info"><span data-v-70283663="">3499 元<!----><del data-v-70283663="">3999 元</del></span></div>
            <div data-v-70283663="" class="line"></div>
            <div data-v-70283663="" class="address-box">
                <div data-v-49bd293c="" data-v-70283663="" class="product-address">
                    <i data-v-49bd293c="" class="iconfont iconfont-location"></i>
                    <div data-v-49bd293c="" class="address-con">
                        <div data-v-49bd293c="">
                            <div data-v-49bd293c="" class="address-info">
                                <span data-v-49bd293c="">北京</span>
                                <span data-v-49bd293c="">北京市</span>
                                <span data-v-49bd293c="">海淀区</span>
                                <span data-v-49bd293c="">清河街道</span>
                            </div>
                            <a data-v-49bd293c="" href="javascript:void(0);" class="edit">修改</a></div>
                        <div data-v-49bd293c="" class="info"><!---->
                            <div data-v-49bd293c="" class="desc"><span data-v-49bd293c="">该地区暂时缺货</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-6009d2b8="" data-v-70283663="" class="buy-option">
                <div data-v-6009d2b8="" class="buy-box-child">
                    <div data-v-6009d2b8="" class="option-box">
                        <div data-v-6009d2b8="" class="title">选择商品</div>
                        <ul data-v-6009d2b8="" class="clearfix">
                            <li data-v-6009d2b8=""  th:each="s : ${specsList}">
                                <input type="hidden" id="${s.id}"/>
                                <a data-v-6009d2b8="" stat_exposure="true" th:text="${s.productSpecs}" th:onclick="'javascript:mysub(\''+${s.price}+'\');'" ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-v-acfb37e4="" data-v-70283663="" class="selected-list">
                <ul data-v-acfb37e4="">
                    <li data-v-acfb37e4="">
                        选中的商品名
                        <span data-v-acfb37e4="">商品价格<del data-v-acfb37e4="">原价</del></span>
                    </li>
                </ul>
                <div data-v-acfb37e4="" class="total-price" >总计：<span id="price">3339</span> 元</div>
            </div>
            <div data-v-70283663="" class="btn-box">
                <div data-v-381dda6a="" data-v-70283663="" class="sale-btn">
                    <a data-v-381dda6a="" class="btn btn-line-primary" th:onclick="'javascript:addCart(\''+${product.id}+'\');'">加入购物车</a>
                </div>
                <div data-v-5d5a0502="" data-v-70283663="" class="favorite-btn">
                    <a data-v-5d5a0502="" class="btn-gray btn-like">
                        <i data-v-5d5a0502="" class="iconfont default"></i>
                        喜欢
                    </a>
                </div>
            </div>
            <div data-v-6d9966ee="" data-v-70283663="" class="after-sale-info">
                <span data-v-6d9966ee="">
                    <a data-v-6d9966ee="" href="javascript:void(0);" class="support" stat_exposure="true">
                        <i data-v-6d9966ee="" class="iconfont"></i>
                        <em data-v-6d9966ee="">小米自营</em>
                    </a>
                </span>
                <span data-v-6d9966ee="">
                    <a data-v-6d9966ee="" href="javascript:void(0);" title="由小米发货" class="support" stat_exposure="true">
                        <i data-v-6d9966ee="" class="iconfont"></i>
                        <em data-v-6d9966ee="">小米发货</em>
                    </a>
                </span>
                <span data-v-6d9966ee="">
                    <a data-v-6d9966ee="" href="javascript:void(0);" class="support" stat_exposure="true">
                        <i data-v-6d9966ee="" class="iconfont"></i>
                        <em data-v-6d9966ee="">7天无理由退货</em>
                    </a>
                </span>
                <span data-v-6d9966ee="">
                    <a data-v-6d9966ee="" href="javascript:void(0);" title="由小米发货商品(不含有品),单笔满99元免运费;由小米有品发货的商品,免运费;由第三方商家发货的商品，运费以实际结算金额为准;特殊商品需要单独收取运费,具体以实际结算金额为准;优惠券等不能抵扣运费金额;如需无理由退货,用户将承担该商品的退货物流费用;" class="support" stat_exposure="true">
                        <i data-v-6d9966ee="" class="iconfont"></i>
                        <em data-v-6d9966ee="">运费说明</em>
                    </a>
                </span>
                <span data-v-6d9966ee="">
                    <a data-v-6d9966ee="" href="javascript:void(0);" title="" class="support" stat_exposure="true">
                        <i data-v-6d9966ee="" class="iconfont"></i>
                        <em data-v-6d9966ee="">企业信息</em>
                    </a>
                </span>
                <span data-v-6d9966ee="">
                    <a data-v-6d9966ee="" href="#" target="_blank"
                       class="support" stat_exposure="true">
                        <i data-v-6d9966ee="" class="iconfont"></i>
                        <em data-v-6d9966ee="">7天价格保护</em>
                    </a>
                </span>
            </div>
        </div>
    </div><!---->
    <div data-v-eb8da102="" data-v-70283663="" class="product-detail page-main"><!---->
        <div data-v-eb8da102="" class="detail-box">
            <div data-v-eb8da102="" class="detail-item">
                <div data-v-eb8da102="" class="section">
                    <div data-v-eb8da102="" class="section-plain_view">
                        <div data-v-eb8da102="" class="title container">
                            <h3 data-v-eb8da102="">官方微信</h3>
                        </div>
                        <div data-v-eb8da102="" class="img-box" style="height: 160px;">
                            <img data-v-eb8da102="" data-src="//i8.mifile.cn/b2c-mimall-media/1a84b2b629512205bf528aae91361efb.jpg" src="//i8.mifile.cn/b2c-mimall-media/1a84b2b629512205bf528aae91361efb.jpg" lazy="loaded">
                        </div>
                    </div>
                </div>
                <div data-v-eb8da102="" class="section">
                    <div data-v-eb8da102="" class="section-plain_view">
                        <div data-v-eb8da102="" class="title container"><h3 data-v-eb8da102="">价格说明</h3><!----></div>
                        <div data-v-eb8da102="" class="img-box" style="height: 189px;">
                            <img data-v-eb8da102=""
                                 data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/a482afa34053b1b32ece1023475af7fb.jpeg"
                                 src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/a482afa34053b1b32ece1023475af7fb.jpeg"
                                 lazy="loaded"></div>
                    </div></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <ul class="footer-li clearfix">
            <li><a href="#">预约维修服务</a></li>
            <li><a href="#">7天无理由退货</a></li>
            <li><a href="#">15天免费换货</a></li>
            <li><a href="#">满99元包邮</a></li>
            <li><a href="#">520余家售后网点</a></li>
        </ul>
        <div class="about-content clearfix">
            <div class="about-left clearfix">
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="#">账户管理</a></dd>
                    <dd><a href="#">购物指南</a></dd>
                    <dd><a href="#">订单操作</a></dd>
                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd><a href="#">售后政策</a></dd>
                    <dd><a href="#">自助服务</a></dd>
                    <dd><a href="#">相关下载</a></dd>
                </dl>
                <dl>
                    <dt>线下门店</dt>
                    <dd><a href="#">小米之家</a></dd>
                    <dd><a href="#">服务网点</a></dd>
                    <dd><a href="#">授权体验店</a></dd>
                </dl>
                <dl>
                    <dt>关于小米</dt>
                    <dd><a href="#">了解小米</a></dd>
                    <dd><a href="#">加入小米</a></dd>
                    <dd><a href="#">投资者关系</a></dd>
                    <dd><a href="#">企业社会责任</a></dd>
                    <dd><a href="#">廉洁举报</a></dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd><a href="#">新浪微博</a></dd>
                    <dd><a href="#">官方微信</a></dd>
                    <dd><a href="#">联系我们</a></dd>
                    <dd><a href="#">公益基金会</a></dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="#">F 码通道</a></dd>
                    <dd><a href="#">礼物码</a></dd>
                    <dd><a href="#">防伪查询</a></dd>
                </dl>
            </div>
            <div class="about-right">
                <h3>400-100-5678</h3>
                <p>8:00-18:00（仅收市话费）</p>
                <div class="client-bt">人工服务</div>
                <div class="about-bt-left">
                    <p>关注小米：</p>
                </div>
                <div class="about-bt">
                    <div class="about-bt-img">
                        <a href="#">
                            <img src="../images/wb.png" alt="">
                            <img src="../images/wb@2x.png" alt="">
                        </a>
                    </div>
                    <div class="about-bt-img">
                        <a href="#">
                            <img src="../images/wx.png" alt="">
                            <img src="../images/wx@2x.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer2">
    <div class="container clearfix">
        <div class="footer2-left">
            <img src="../images/logo-footer.png" alt="">
        </div>
        <div class="footer2-right">
            <div class="footer2-list">
                <ul class="clearfix">
                    <li><a href="#">小米商城</a><span>|</span></li>
                    <li><a href="#">MIUI</a><span>|</span></li>
                    <li><a href="#">IoT</a><span>|</span></li>
                    <li><a href="#">云服务</a><span>|</span></li>
                    <li><a href="#">金融</a><span>|</span></li>
                    <li><a href="#">有品</a><span>|</span></li>
                    <li><a href="#">小爱开放平台</a><span>|</span></li>
                    <li><a href="#">企业团购</a><span>|</span></li>
                    <li><a href="#">资质证照</a><span>|</span></li>
                    <li><a href="#">协议规则</a><span>|</span></li>
                    <li><a href="#">下载app</a><span>|</span></li>
                    <li><a href="#">智能生活</a><span>|</span></li>
                    <li><a href="#">Select Location</a></li>
                </ul>
            </div>

            <p class="dec">&copy; mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2020]0276-042号</p>
            <p class="dec">（京）网械平台备字（2018）第00005号 互联网药品信息服务资格证 (京)-非经营性-2014-0090 营业执照 医疗器械质量公告</p>
            <p class="dec">增值电信业务许可证 网络食品经营备案 京食药网食备201810017 食品经营许可证</p>
            <p class="dec">违法和不良信息举报电话：171-5104-4404 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            user: "",

        }
    })

    window.onload = function(){
        $(function () {
            findSession();
        });
    };



    /*
 * 判断用户是否登录
 * */
    function findSession(){
        $.ajax({
            url:"../user/findSession",
            type:"post",
            dataType:"json",
            success:function (data) {
                vm.user=(data);
                alert(vm.user.userName);
                var str=vm.user.userName;
                //document.getElementById("name").innerHtml="段落已修改";
                $("#name").html("内容"+str);
            }
        })
    }

    function addCart(goodsId) {
        alert(goodsId);
        bootbox.prompt({
            title:"请选择数量",
            inputType:"number",
            size:"small",
            value:1,
            callback:function(result){
                if (result!=null){
                    if (result>0){
                        $.ajax({
                            url:"../cart/addCart",
                            type:"post",
                            data:{
                                goodspuId:goodsId,
                                nums:result
                            },
                            success:function(){

                            }
                        })
                    } else {
                        alert("商品数量必须大于0");
                    }
                }
            }
        })
    }




    function mysub(id){


        $("#price").text(id);
    }


</script>
</html>