<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小米商城 - 小米10 Pro、Redmi 10X、小米MIX Alpha，小米电视官方网站</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css">
    <script src="../jquery-1.9.1.min.js"></script>
    <style type="text/css">
        *{margin:0;padding:0;}#banner{margin:40px auto;width:1226px;height:460px;background-color:#ff6700;position:relative;}.item{display:none;list-style:none;}
        .item img{width:1226px;height:460px;position:absolute;top:0;left:0;}
        .lr-tab .btn{position:absolute;width:41px;height:69px;top:195px}
        .lr-tab .left{left:234px;background-position-x:-83px;}
        .lr-tab .left:hover{background-position-x:0;cursor:pointer;}
        .lr-tab .right{right:0;background-position:-125px 0;}
        .lr-tab .right:hover{background-position-x:-41px;cursor:pointer;}
        .tab-btn{position:absolute;width:120px;height:30px;right:15px;bottom:15px;}
        .bottom-btn{list-style:none;width:6px;height:6px;background:rgba(0,0,0,0.5);border:2px solid rgba(255,255,255,0.5);float:left;margin:5px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;transition:all .3s;}
        .bottom-btn:hover{background:rgba(255,255,255,0.5);border:2px solid rgba(0,0,0,0.5);transition:all .3s;cursor:pointer;}
        .active{background:rgba(255,255,255,0.5);border:2px solid rgba(0,0,0,0.5);transition:all .3s;}
        .guid li:hover{

        }


    </style>

</head>

<body>
    <div class="headAD">
        <a href="index.html"></a>
    </div>

    <!--头部信息-->

    <div class="head">
        <div class="nav clearfix">
            <div class="nav-left">
                <ul>
                    <li><a href="#">小米商城</a><span>|</span></li>
                    <li><a href="#">MIUI</a><span>|</span></li>
                    <li><a href="#">IoT</a><span>|</span></li>
                    <li><a href="#">云服务</a><span>|</span></li>
                    <li><a href="#">金融</a><span>|</span></li>
                    <li><a href="#">有品</a><span>|</span></li>
                    <li><a href="#">小爱开放平台</a><span>|</span></li>
                    <li><a href="#">企业团购</a><span>|</span></li>
                    <li><a href="#">资质证照</a><span>|</span></li>
                    <li><a href="#">协议规则</a><span>|</span></li>
                    <li><a href="#">下载app</a><span>|</span></li>
                    <li><a href="#">智能生活</a><span>|</span></li>
                    <li><a href="#">Select Location</a><span>|</span></li>
                </ul>
            </div>
            <div class="nav-car">
                <a href="#">
                    <em class="car"></em>
                    <em>购物车</em>
                </a>
                <div class="nav-car-list">
                    <p>购物车中还没有商品，赶紧选购吧！</p>
                </div>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="./login">${user.userName}登录</a><span>|</span></li>
                    <li><a href="#">注册</a><span>|</span></li>
                    <li><a href="#">消息通知</a></li>
                </ul>
            </div>
        </div>
    </div>









    <div class="content">









<div id="asd">


        <div class="content-head clearfix">


            <div class="logo-box">
                <a href="index.html">
                    <div class="logo">
                        <img src="./images/mi-home.png" alt="MI">
                        <img src="./images/mi-logo.png" alt="MI">
                    </div>
                </a>
            </div>


            <div id="ggg" style="float: left;margin-left: 15px">
                <a href="index.html">
                    <div>
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/f58837161090e2e04bf687088b2ffe77.gif?w=165&h=55" alt="MI">
                    </div>

                </a>

            </div>



            <div class="guid">
                <ul>
                    <li><a href="#">小米手机</a></li>
                    <li class="asda"><a href="#">Redmi红米</a></li>
                    <li class="asda"><a href="#">电视</a></li>
                    <li class="asda"><a href="#">笔记本</a></li>
                    <li class="asda"><a href="#">家电</a></li>
                    <li class="asda"><a href="#">路由器</a></li>
                    <li class="asda"><a href="#">智能硬件</a></li>
                    <li class="asda"><a href="#">服务</a></li>
                    <li class="asda"><a href="#">社区</a></li>
                </ul>
            </div>
            <div class="search-box">
                <input type="text" class="input" placeholder="耳机">
                <div class="search-icon"></div>
            </div>
        </div>

    <!--当 z-index =  1  时 出现  -->
    <div id="zx_lll" style="background-color: #2196F3;width:1226px;height:160px;float: left;position:absolute;z-index: 0;margin-top: 40px">


    </div>


</div>







        <div class="content-list">
            <div class="bg-picture">


                <div id="banner" style="">
                    <div class="img-wrap">
                        <ul>
                            <li class="item" style="display: block;"><img src="./images/good1.jpg"/></li>
                            <li class="item"><img src="./images/good2.jpg"/></li>
                            <li class="item"><img src="./images/good3.jpg"/></li>
                            <li class="item"><img src="./images/good4.jpg"/></li>
                            <li class="item"><img src="./images/good5.jpg"/></li>
                        </ul>
                    </div>
                    <div class="lr-tab">
                        <div class="left btn"></div>
                        <div class="right btn"></div>
                    </div>
                    <div class="tab-btn">
                        <ul>
                            <li class="bottom-btn active"></li>
                            <li class="bottom-btn"></li>
                            <li class="bottom-btn"></li>
                            <li class="bottom-btn"></li>
                            <li class="bottom-btn"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list">
                <ul>
                    <li><a href="#">手机&nbsp;电话卡<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">电视&nbsp;盒子<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">笔记本&nbsp;显示器<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">家电&nbsp;插线板<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">出行&nbsp;穿戴<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">智能&nbsp;路由器<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">电源&nbsp;配件<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">健康&nbsp;儿童<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">耳机&nbsp;音箱<img src="./images/箭头.png"></img></a></li>
                    <li><a href="#">生活&nbsp;箱包<img src="./images/箭头.png"></img></a></li>
                </ul>
            </div>
            <div id="qwe" class="arror-left left"><img src="./images/icon-slides.png" alt=""></div>
            <div id="zxc" class="arror-right right"><img src="./images/icon-slides.png" alt=""></div>

        </div>



        <div class="list-new clearfix">
            <div class="farst-content">
                <a href="#">
                    <div class="box">
                        <div class="mask"></div><img src="./picture/小米秒杀.png" alt=""><span>小米秒杀</span>
                    </div>
                </a>
                <a href="#">
                    <div class="box">
                        <div class="mask"></div><img src="./picture/企业团购.png" alt=""><span>企业团购</span>
                    </div>
                </a>
                <a href="#">
                    <div class="box">
                        <div class="mask"></div><img src="./picture/F码通道.png" alt=""><span>F码通道</span>
                    </div>
                </a>
                <a href="#">
                    <div class="box">
                        <div class="mask"></div><img src="./picture/米粉卡.png" alt=""><span>米粉卡</span>
                    </div>
                </a>
                <a href="#">
                    <div class="box">
                        <div class="mask"></div><img src="./picture/以旧换新.png" alt=""><span>以旧换新</span>
                    </div>
                </a>
                <a href="#">
                    <div class="box">
                        <div class="mask"></div><img src="./picture/话费充值.png" alt=""><span>话费充值</span>
                    </div>
                </a>
            </div>
            <div class="new">
                <img src="./picture/c0c05274f2fbb55fbccb89622f798907.jpg" alt="">
                <img src="./picture/b746a4db2e0473cc076a3a4b9bbe0235.jpg" alt="">
                <img src="./picture/816a66edef10673b4768128b41804cae.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="miaosha">
            <div class="miaosha-title">
                <span>小米闪购</span>
                <div class="change clearfix">
                    <a href="#">
                        <div class="miaosha-pre">&lt;</div>
                    </a>
                    <a href="#">
                        <div class="miaosha-next">&gt;</div>
                    </a>
                </div>
            </div>
            <div class="miaosha-content clearfix">
                <div class="daojishi">
                    <div class="miaosha-num">00:00&nbsp;&nbsp;场</div>
                    <div class="miaosha-img"><img src="./images/闪电.jpg" alt=""></div>
                    <div class="miaosha-start">本场已结束</div>
                    <div class="miaosha-daojishi">
                        <span>00</span><em>:</em>
                        <span>00</span><em>:</em>
                        <span>00</span>
                    </div>
                </div>
                <div class="miaosha-shop">
                    <ul class="clearfix">
                        <li>
                            <a href="#">
                                <div class="miaosha-box">
                                    <div class="miaosha-goods-img">
                                        <img src="./picture/全面屏电视.jpg" alt="">
                                    </div>
                                    <h3>小米全面屏电视65英寸 E65C 灰色 65英寸</h3>
                                    <p class="desc">震撼大屏，时尚全面屏</p>
                                    <p class="price"><span>2677元</span><del>3099元</del></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="miaosha-box">
                                    <div class="miaosha-goods-img">
                                        <img src="./picture/小米头戴式蓝牙耳机 黑色.jpg" alt="">
                                    </div>
                                    <h3>小米头戴式蓝牙耳机 黑色</h3>
                                    <p class="desc">随时随地畅听好声音</p>
                                    <p class="price"><span>199元</span><del>299元</del></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="miaosha-box">
                                    <div class="miaosha-goods-img">
                                        <img src="./picture/摩摩哒舒压眼部按摩器.jpg" alt="">
                                    </div>
                                    <h3>摩摩哒舒压眼部按摩器</h3>
                                    <p class="desc">石墨烯热敷，震动按摩</p>
                                    <p class="price"><span>329元</span><del>399元</del></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="miaosha-box">
                                    <div class="miaosha-goods-img">
                                        <img src="./picture/Redmi 智能电视 X55 灰色 55英寸.jpg" alt="">
                                    </div>
                                    <h3>Redmi 智能电视 X55 灰色 55英寸</h3>
                                    <p class="desc">金属边框全面屏</p>
                                    <p class="price"><span>2166元</span><del>2299元</del></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ad"><a href="#">
                <img src="./picture/6c907ad4004b32609a589bdada203443.webp" alt="">
            </a></div>
        <div class="main-shop">
            <div class="miaosha-title">
                <span>手机</span>
                <div class="more clearfix">
                    <a href="#">查看全部</a>
                </div>
            </div>
            <div class="shop-body clearfix">
                <div class="shop-img-left">
                    <a href="#">
                        <img src="./picture/小米MIX.webp" alt="">
                    </a>
                </div>



                <div class="shop-content-right">
                    <ul id="ul_list">
                        <!--<li><a href="#">
                                <div class="shop-content-li">
                                    <img src="./picture/小米10 至尊版.webp" alt="">
                                    <h3 class="ellipse">小米10 至尊版</h3>
                                    <p class="ellipse">120X 变焦/120W秒充/120Hz屏幕</p>
                                    <p class="price"><span>5299元起</span></p>
                                </div>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="ad"><a href="#">
                <a href="#">
                    <img src="./picture/c3b86ede4dd31d7c126d56fbdde4f855.webp" alt="">
                </a>
            </a></div>
        <div class="main-shop-list clearfix">
            <div class="miaosha-title">
                <span>家电</span>
                <div class="tab-title">
                    <ul class="clearfix">
                        <li>热门</li>
                        <li>电视影音</li>
                    </ul>
                </div>
            </div>



            <div class="main-shop-list-left">
                <ul class="clearfix">
                    <li><a href="#"><img src="./picture/f256b81e4233333692eece77ed06ebc2.webp" /></a></li>
                    <li>
                        <a href="#"><img src="./picture/e22cf675726deb5eb728f2ccd4cbeafd.webp" alt=""></a>
                    </li>
                </ul>
            </div>

            <div class="main-shop-list-right">
                <ul id="ula_list">

                </ul>
            </div>
        </div>

        <!--广告位-->

        <div class="ad"><a href="#">
                <a href="#">
                    <img src="./picture/59e8fc8ba9718c266882719fb4bbcedd.webp" alt="">
                </a>
            </a></div>





        <div class="video-content">
            <div class="miaosha-title">
                <span>视频</span>
                <div class="more clearfix">
                    <a href="#">查看全部</a>
                </div>
            </div>
            <div class="video-list">
                <ul class="clearfix">
                    <li>
                        <a href="#">
                            <div class="video-img">
                                <img src="./picture/101b19aca4bb489bcef0f503e44ec866.webp" alt="">
                            </div>
                            <h3 class="ellipse">Redmi 10X系列发布会</h3>
                            <p class="desc ellipse">Redmi 10X系列发布会</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="video-img">
                                <img src="./picture/96563e75833ba4563bd469dd28203b09.webp" alt="">
                            </div>
                            <h3 class="ellipse">小米10 青春版 发布会</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="video-img">
                                <img src="./picture/2fd26bb99b723337a2f8eaba84f7d5bb.webp" alt="">
                            </div>
                            <h3 class="ellipse">小米10 8K手机拍大片</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="video-img">
                                <img src="./picture/a8dd25cab48c60fc6387b9001eddc3f9.webp" alt="">
                            </div>
                            <h3 class="ellipse">小米10发布会</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <ul>
            <li>
                <div class="side-li">
                    <div class="side-img"><img src="./picture/手机白.png" alt=""><img src="./picture/手机.png" alt=""></div>
                    <p class="side-title">手机app</p>
                </div>
            </li>
            <li>
                <div class="side-li">
                    <div class="side-img"><img src="./picture/用户白.png" alt=""><img src="./picture/用户.png" alt=""></div>
                    <p class="side-title">个人中心</p>
                </div>
            </li>
            <li>
                <div class="side-li">
                    <div class="side-img"><img src="./picture/维护白.png" alt=""><img src="./picture/维护.png" alt=""></div>
                    <p class="side-title">售后服务</p>
                </div>
            </li>
            <li>
                <div class="side-li">
                    <div class="side-img"><img src="./picture/客服白.png" alt=""><img src="./picture/客服.png" alt=""></div>
                    <p class="side-title">人工客服</p>
                </div>
            </li>
            <li>
                <div class="side-li">
                    <div class="side-img"><img src="./picture/购物车白.png" alt=""><img src="./picture/购物车.png" alt="">
                    </div>
                    <p class="side-title">购物车</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="footer">
        <div class="container">
            <ul class="footer-li clearfix">
                <li><a href="#">预约维修服务</a></li>
                <li><a href="#">7天无理由退货</a></li>
                <li><a href="#">15天免费换货</a></li>
                <li><a href="#">满99元包邮</a></li>
                <li><a href="#">520余家售后网点</a></li>
            </ul>
            <div class="about-content clearfix">
                <div class="about-left clearfix">
                    <dl>
                        <dt>帮助中心</dt>
                        <dd><a href="#">账户管理</a></dd>
                        <dd><a href="#">购物指南</a></dd>
                        <dd><a href="#">订单操作</a></dd>
                    </dl>
                    <dl>
                        <dt>服务支持</dt>
                        <dd><a href="#">售后政策</a></dd>
                        <dd><a href="#">自助服务</a></dd>
                        <dd><a href="#">相关下载</a></dd>
                    </dl>
                    <dl>
                        <dt>线下门店</dt>
                        <dd><a href="#">小米之家</a></dd>
                        <dd><a href="#">服务网点</a></dd>
                        <dd><a href="#">授权体验店</a></dd>
                    </dl>
                    <dl>
                        <dt>关于小米</dt>
                        <dd><a href="#">了解小米</a></dd>
                        <dd><a href="#">加入小米</a></dd>
                        <dd><a href="#">投资者关系</a></dd>
                        <dd><a href="#">企业社会责任</a></dd>
                        <dd><a href="#">廉洁举报</a></dd>
                    </dl>
                    <dl>
                        <dt>关注我们</dt>
                        <dd><a href="#">新浪微博</a></dd>
                        <dd><a href="#">官方微信</a></dd>
                        <dd><a href="#">联系我们</a></dd>
                        <dd><a href="#">公益基金会</a></dd>
                    </dl>
                    <dl>
                        <dt>特色服务</dt>
                        <dd><a href="#">F 码通道</a></dd>
                        <dd><a href="#">礼物码</a></dd>
                        <dd><a href="#">防伪查询</a></dd>
                    </dl>
                </div>
                <div class="about-right">
                    <h3>400-100-5678</h3>
                    <p>8:00-18:00（仅收市话费）</p>
                    <div class="client-bt">人工服务</div>
                    <div class="about-bt-left">
                        <p>关注小米：</p>
                    </div>
                    <div class="about-bt">
                        <div class="about-bt-img">
                            <a href="#">
                                <img src="./images/wb.png" alt="">
                                <img src="./images/wb@2x.png" alt="">
                            </a>
                        </div>
                        <div class="about-bt-img">
                            <a href="#">
                                <img src="./images/wx.png" alt="">
                                <img src="./images/wx@2x.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container clearfix">
            <div class="footer2-left">
                <img src="./images/logo-footer.png" alt="">
            </div>
            <div class="footer2-right">
                <div class="footer2-list">
                    <ul class="clearfix">
                        <li><a href="#">小米商城</a><span>|</span></li>
                        <li><a href="#">MIUI</a><span>|</span></li>
                        <li><a href="#">IoT</a><span>|</span></li>
                        <li><a href="#">云服务</a><span>|</span></li>
                        <li><a href="#">金融</a><span>|</span></li>
                        <li><a href="#">有品</a><span>|</span></li>
                        <li><a href="#">小爱开放平台</a><span>|</span></li>
                        <li><a href="#">企业团购</a><span>|</span></li>
                        <li><a href="#">资质证照</a><span>|</span></li>
                        <li><a href="#">协议规则</a><span>|</span></li>
                        <li><a href="#">下载app</a><span>|</span></li>
                        <li><a href="#">智能生活</a><span>|</span></li>
                        <li><a href="#">Select Location</a></li>
                    </ul>
                </div>

                <p class="dec">&copy; mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2020]0276-042号</p>
                <p class="dec">（京）网械平台备字（2018）第00005号 互联网药品信息服务资格证 (京)-非经营性-2014-0090 营业执照 医疗器械质量公告</p>
                <p class="dec">增值电信业务许可证 网络食品经营备案 京食药网食备201810017 食品经营许可证</p>
                <p class="dec">违法和不良信息举报电话：171-5104-4404 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        $(function () {

            findList();
            findLista();

            var index = 0;
            //------点击底部小圆点
            $(".bottom-btn").click(function () {
                index = $(this).index();                                //获取当前是第几个小圆点
                $(this).addClass("active").siblings().removeClass("active");   //给小圆点添加鼠标经过的class
                $(".item").eq(index).fadeIn().siblings().fadeOut();     //fadeIn是淡入    图片淡入淡出效果
            });
            //------右箭头
            $("#zxc").click(function () {
                index++;
                if (index > 4)index = 0;            //当到最后一张图，再跳转到第一张
                $(".item").eq(index).fadeIn().siblings().fadeOut();
                $(".bottom-btn").eq(index).addClass("active").siblings().removeClass("active");
            });
            //------左箭头
            $("#qwe").click(function () {
                index--;
                if (index < 0)index = 4;
                $(".item").eq(index).fadeIn().siblings().fadeOut();
                $(".bottom-btn").eq(index).addClass("active").siblings().removeClass("active");
            });
            //-------鼠标离开图片，再进行自动轮播
            function autoplay () {
                time = setInterval(function () {
                    index++;
                    if (index > 4)index = 0;
                    $(".item").eq(index).fadeIn().siblings().fadeOut();
                    $(".bottom-btn").eq(index).addClass("active").siblings().removeClass("active");
                },4000);
            }
            autoplay();                 //这里调用自动轮播函数，也就是默认的效果
            $("#banner").hover(function () {
                clearInterval(time);    //鼠标经过banner区域，清除计时器
            },autoplay);                //这里是鼠标退出banner区域，再进行轮播
        });
    };

    //todo setInterval(,) 函数，第一个是定时器触发的函数，第二个是时间








    function findList(){
        var mid="1";
        $.ajax({
            dataType:"json",
            type:"POST",
            url:"../goods/findAll",
            data:{mid:mid},
            success:function(data){
                var arr=data.replies;

                var str = "";

                for(var i=0;i<data.replies.length;i++){
                    var id=arr[i].id;
                    var cid = arr[i].categoryId;
                    var title=arr[i].title;
                    var detail=arr[i].detail;
                    var price=arr[i].price;
                    if(cid == 1){
                        str+="<li><a href=\'#\'>";
                        str+="<div class=\'shop-content-li\'>";
                        str+="<img src=\'./picture/小米10 至尊版.webp\' alt=\'\'>";
                        str+="<h3 class=\'ellipse\'>"+title+"</h3>";
                        str+="<p class=\'ellipse\'>"+detail+"</p>";
                        str+="<p class=\'price\'><span>"+price+"</span></p>";
                        str+="</div>";
                        str+="</a>";
                        str+="</li>";
                       $("#ul_list").html(str);

                    }


                   // $('#reply_'+mid).prepend("<dl style='background-color:pink;'><dt>"+content+"</dt><dd>回复者："+name+"</dd><dd>回复时间："+time+"</dd></dl>");
                }





               // alert(str);
            },error:function(data){
                alert(系统错误);
            }
        });
    }


    function findLista(){
        var mid="3,21";
        $.ajax({
            dataType:"json",
            type:"POST",
            url:"../goods/findAll",
            data:{mid:mid},
            success:function(data){
                var arr=data.replies;

                var str = "";
                var a = 0;

                for(var i=0;i<data.replies.length ;i++){
                    a++;
                    var id=arr[i].id;
                    var cid = arr[i].categoryId;
                    var title=arr[i].title;
                    var detail=arr[i].detail;
                    var price=arr[i].price;
                    if(a<=7){

                        str+='<li>';
                        str+='<a href="#">';
                        str+='<div class="shop-img">';
                        str+='<img src="./picture/ef4c68fed730ec26bf2fa0ff620975c5.webp" alt="">';
                        str+='</div>';
                        str+='<h3 class="ellipse">'+title+'</h3>';
                        str+='<p class="ellipse">'+detail+'</p>';
                        str+='<p><span>2999元</span><del>'+price+'</del></p>';
                        str+='</a>';
                        str+='</li>';
                    }else{
                        str+='<li class="last">';
                        str+='<a href="#">';
                        str+='<div class="shop-list-box-top">';
                        str+='<img src="./picture/74e573c4c0d89048392d14831cc507d5.webp" alt="">';
                        str+='<h3>'+title+'</h3>';
                        str+='<span>'+price+'元起</span>';
                        str+='</div>';
                        str+='</a>';
                        str+='<a href="#">';
                        str+='<div class="shop-list-box-bottom">';
                        str+='<div class="right"></div>';
                        str+='<div class="desc">';
                        str+='<h1>浏览更多</h1>';
                        str+='<p>热门</p>';
                        str+='</div>';
                        str+='</div>';
                        str+='</a>';
                        str+='</li>';
                    }
                    //$("#ula_list").append(str)
                  // $("ul").append("<li>" + value +"</li>");
                    //$("ul").append($("ol li"));
                    $("#ula_list").html(str);
                    }


                    // $('#reply_'+mid).prepend("<dl style='background-color:pink;'><dt>"+content+"</dt><dd>回复者："+name+"</dd><dd>回复时间："+time+"</dd></dl>");
                }
                // alert(str);

        });
    }




</script>
</html>