<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="">
    <title>小米商城</title>
</head>
<body>
    <div class="topbar">
        <!--固定导航-->
        <div class="container">
            <div class="topbar-nav">
                <a href="">小米商城</a><span>|</span>
                <a href="">MIUI</a><span>|</span>
                <a href="">IoT</a><span>|</span>
                <a href="">云服务</a><span>|</span>
                <a href="">金融</a><span>|</span>
                <a href="">有品</a><span>|</span>
                <a href="">小爱开放平台</a><span>|</span>
                <a href="">企业团购</a><span>|</span>
                <a href="">资质证书</a><span>|</span>
                <a href="">协议规则</a><span>|</span>
                <a href="">下载app</a><span>|</span>
            </div>
            <div class="topbar-cart">
                <img src="./imgs/cart_empty.png" alt=""/>
                <a href="">购物车<span>(0)</span></a>
            </div>
            <div class="topbar-info clearfix"><a href="">
                <a href="">登陆</a><span>|</span>
                <a href="">注册</a><span>|</span>
                <a href="">消息通知</a>
            </div>
        </div>

        <!--主页导航-->
        <div class="header">
            <div class="container">
                <div class="header-log">
                    <a href="">
                        <img src="./imgs/logo-footer.png" alt="小米官网">
                    </a>
                </div>
                <div class="header-nav">
                    <ul class="nav-list clearfix">
                        <li class="nav-category"><a href="">全部商品分类</a></li>
                        <li class="nav-item"><a href="">小米手机</a></li>
                        <li class="nav-item"><a href="">Redmi红米</a></li>
                        <li class="nav-item"><a href="">电视</a></li>
                        <li class="nav-item"><a href="">笔记本</a></li>
                        <li class="nav-item"><a href="">家电</a></li>
                        <li class="nav-item"><a href="">路由器</a></li>
                        <li class="nav-item"><a href="">智能硬件</a></li>
                        <li class="nav-item"><a href="">服务</a></li>
                        <li class="nav-item"><a href="">社区</a></li>
                    </ul>
                </div>
                <div class="header-search">
                    <form action="" class="search-form">
                        <input type="search" name="keyword" class="search-text" placeholder="小米3c">
                       <!--  <input type="submit" value="搜索"  class="search-button"> -->
                       <button class="search-button"><img src="./imgs/search.png" alt=""></button>
                    </form>
                </div>
            </div>
        </div>




        <!--主要内容-->
        <div class="seckill">
            <div class="seckill-head"></div>
            <div class="container">
                <div id="seckillNav" class="seckill-nav ">
                    <ul id="tabs">
                        <li class="active"><em>22:00</em><span><em>即将开始<br>据开始：00:08</em></span></li>
                        <li><em>00:00</em><span>即将开始</span></li>
                        <li><em>02:00</em><span>即将开始</span></li>
                        <li><em>04:00</em><span>即将开始</span></li>
                        <li><em>06:00</em><span>即将开始</span></li>
                    </ul>
                </div>
            
                <div class="seckill-gods" id="lists">
                    <ul class="clearfix active">
                        <li>
                            <div class="bg">
                                <img src="./imgs/01.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/02.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/03.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href=""  class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/02.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/04.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/05.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/02.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/06.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/07.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/02.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                    </ul>

                    <ul class="clearfix">
                        <li>
                            <div class="bg">
                                <img src="./imgs/12.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/02.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/11.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/09.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/08.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/07.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/06.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                    </ul>

                    <ul class="clearfix">
                        <li>
                            <div class="bg">
                                <img src="./imgs/01.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/10.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/02.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/03.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/04.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/05.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/06.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/07.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                    </ul>

                    <ul class="clearfix">
                        <li>
                            <div class="bg">
                                <img src="./imgs/12.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/11.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/10.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/09.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/08.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/07.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/06.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                    </ul>

                    <ul class="clearfix">
                        <li>
                            <div class="bg">
                                <img src="./imgs/01.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/02.png" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/03.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/04.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/05.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/06.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                        <li>
                            <div class="bg">
                                <img src="./imgs/07.jpg" alt="">
                            </div>
                            <div class="info">
                                <a href="" class="name">米家小饭煲 白色</a>
                                <p class="tips">小容量不浪费</p>
                                <p class="price">1元<del>23元</del></p>
                                <a href="" class="btn">登录后抢购</a>
                                <p class="person">已有30000人设置提醒</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="seckill-notice clearfix">
                    *小米秒杀活动规则：
                    <br>1.秒杀商品是否参加活动、最终秒杀成功的商品，以订单结算页显示为准，活动包括但不限于优惠券、赠品、满减、满赠等；<br>
                    2.秒杀商品数量有限，活动以下单支付成功为准，请加入购物车后尽快下单支付;<br>
                    3.秒杀价不含运费，最终以订单结算页价格为准；<br>
                    4.订单中商品的数量、颜色、型号等，以订单结算页为准。<br>
                    温馨提示：因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，
                    如您发现活动商品标价或促销信息有异常，请您立即联系小米客服，以便我们及时补正。
                </p>
            </div>
        </div>
        <div class="footer">
            <ul class="list-servic clearfix">
                <li>预约维修</li>
                <li>7天无理由退款</li>
                <li>15天免费换货</li>
                <li>满150包邮</li>
                <li>520余家售后网点</li>
            </ul>  

        </div>
        <div class="footer-text clearfix">
            *小米秒杀活动规则：
            <br>1.秒杀商品是否参加活动、最终秒杀成功的商品，以订单结算页显示为准，活动包括但不限于优惠券、赠品、满减、满赠等；<br>
            2.秒杀商品数量有限，活动以下单支付成功为准，请加入购物车后尽快下单支付;<br>
            3.秒杀价不含运费，最终以订单结算页价格为准；<br>
            4.订单中商品的数量、颜色、型号等，以订单结算页为准。<br>
            温馨提示：因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，
            如您发现活动商品标价或促销信息有异常，请您立即联系小米客服，以便我们及时补正。
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>