<!doctype html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>我的购物车-小米商城</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/carts.css">
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/carts.js"></script>
    <!-- <meta name="description" content>
    <meta name="keywords" content> -->
    
<meta name="viewport" content="width=1226">

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<link href="css/cart.83dd4cb0.css" rel="stylesheet"></head>
<body>
<div id="app">
    <div ref="J_siteHeader">
        
    <div class="site-header site-mini-header">
        <div class="container">
            <div class="header-logo">
                <a class="logo ir" href="//www.mi.com/index.html" title="小米官网">小米官网</a>
            </div>
            <div class="header-title has-more" id="J_miniHeaderTitle">
                <h2>
                    我的购物车
                </h2>
                <p>
                    
                </p>
            </div>
            
            <div class="site-topbar ">
                <div class="topbar-info" id="J_siteUserInfo">
                    <a rel="nofollow" class="link"  data-agreement="true" data-login="true">登录</a>
                    <span class="sep">|</span>
                    <a rel="nofollow" class="link"  data-agreement="true" data-register="true">注册</a>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="mi-cart page-main">
        <section class="cartMain">
            <div class="cartMain_hd">
                <ul class="order_lists cartTop">
                    <li class="list_chk">
                        <!--所有商品全选-->
                        <input type="checkbox" id="all" class="whole_check">
                        <label for="all"></label>
                        全选
                    </li>
                    <li class="list_con">商品信息</li>
                    <li class="list_info">商品参数</li>
                    <li class="list_price">单价</li>
                    <li class="list_amount">数量</li>
                    <li class="list_sum">金额</li>
                    <li class="list_op">操作</li>
                </ul>
            </div>
    
            <div class="cartBox">
                <div class="shop_info">
                    <div class="all_check">
                        <!--店铺全选-->
                        <input type="checkbox" id="shop_a" class="shopChoice">
                        <label for="shop_a" class="shop"></label>
                    </div>
                    <div class="shop_name">
                        店铺：<a href="javascript:;">搜猎人艺术生活</a>
                    </div>
                </div>
                <div class="order_content">
                   
            
                    <ul class="order_lists">
                        <li class="list_chk">
                            <input type="checkbox" id="checkbox_6" class="son_check">
                            <label for="checkbox_6"></label>
                        </li>
                        <li class="list_con">
                            <div class="list_img"><a href="javascript:;"><img src="./images/3.png" alt=""></a></div>
                            <div class="list_text"><a href="javascript:;">夏季男士迷彩无袖T恤圆领潮流韩版修身男装背心青年时尚打底衫男</a></div>
                        </li>
                        <li class="list_info">
                            <p>规格：默认</p>
                            <p>尺寸：16*16*3(cm)</p>
                        </li>
                        <li class="list_price">
                            <p class="price">￥180</p>
                        </li>
                        <li class="list_amount">
                            <div class="amount_box">
                                <a href="javascript:;" class="reduce reSty">-</a>
                                <input type="text" value="1" class="sum">
                                <a href="javascript:;" class="plus">+</a>
                            </div>
                        </li>
                        <li class="list_sum">
                            <p class="sum_price">￥180</p>
                        </li>
                        <li class="list_op">
                            <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                        </li>
                    </ul>
                </div>
                  <!--底部-->
            <div class="bar-wrapper">
                <div class="bar-right">
                    <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                    <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
                    <div class="calBtn"><a href="javascript:;">结算</a></div>
                </div>
            </div>
            </div>
    
    
           
          
        </section>
        <section class="model_bg"></section>
        <section class="my_model">
            <p class="title">删除宝贝<span class="closeModel">X</span></p>
            <p>您确认要删除该宝贝吗？</p>
            <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
        </section>
    </div>   
    <div ref="J_siteFooter">
        
        
            <div class="site-footer">
    <div class="container">
        <div class="footer-service">
            <ul class="list-service clearfix">
                <li><a rel="nofollow" href="//www.mi.com/service/quick-repair" target="_blank"><em class="iconfont-tool"></em>预约维修服务</a></li>
                <li><a rel="nofollow" href="//www.mi.com/service/exchange#back" target="_blank"><em class="iconfont-circle-7"></em>7天无理由退货</a></li>
                <li><a rel="nofollow" href="//www.mi.com/service/exchange#back" target="_blank"><em class="iconfont-circle-15"></em>15天免费换货</a></li>
                <li><a rel="nofollow" href="//www.mi.com/service/buy/Postal%20policy" target="_blank"><em class="iconfont-gift"></em><span id="J_footerPrice">满99元包邮</span></a></li>
                <li><a rel="nofollow" href="//www.mi.com/service/sitelist" target="_blank"><em class="iconfont-location"></em>520余家售后网点</a></li>
            </ul>
        </div>
        <div class="footer-links clearfix">
            <dl class="col-links col-links-first">
                <dt>帮助中心</dt>
                <dd><a rel="nofollow" href="//www.mi.com/service/account/Account%20registration/" target="_blank">账户管理</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/service/buy/SalesTime/" target="_blank">购物指南</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/service/order/sendprogress/" target="_blank">订单操作</a></dd>
            </dl>

            <dl class="col-links ">
                <dt>服务支持</dt>
                <dd><a rel="nofollow" href="//www.mi.com/service/exchange" target="_blank">售后政策</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/service/" target="_blank">自助服务</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/service/download/" target="_blank">相关下载</a></dd>
            </dl>

            <dl class="col-links ">
                <dt>线下门店</dt>
                <dd><a rel="nofollow" href="//www.mi.com/service/mihome/list" target="_blank">小米之家</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/service/sitelist" target="_blank">服务网点</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/service/family-location" target="_blank">授权体验店</a></dd>
            </dl>

            <dl class="col-links ">
                <dt>关于小米</dt>
                <dd><a rel="nofollow" href="//www.mi.com/about/" target="_blank">了解小米</a></dd>
                <dd><a rel="nofollow" href="//hr.xiaomi.com/" target="_blank">加入小米</a></dd>
                <dd><a rel="nofollow" href="//company.mi.com/zh-cn/ir/indexContent/index.html" target="_blank">投资者关系</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/csr/" target="_blank">企业社会责任</a></dd>
                <dd><a rel="nofollow" href="//integrity.mi.com/" target="_blank">廉洁举报</a></dd>
            </dl>

            <dl class="col-links ">
                <dt>关注我们</dt>
                <dd><a rel="nofollow" href="//weibo.com/xiaomishangcheng" target="_blank">新浪微博</a></dd>
                <dd><a rel="nofollow" href="javascript:void(0);" id="J_siteWeixinCode">官方微信</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/about/contact/" target="_blank">联系我们</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/foundation/index" target="_blank">公益基金会</a></dd>
            </dl>

            <dl class="col-links ">
                <dt>特色服务</dt>
                <dd><a rel="nofollow" href="//www.mi.com/order/fcode" target="_blank">F 码通道</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/order/giftcode" target="_blank">礼物码</a></dd>
                <dd><a rel="nofollow" href="//www.mi.com/service/imei" target="_blank">防伪查询</a></dd>
            </dl>

            <div class="col-contact"> 
                <p class="phone">400-100-5678</p> 
				<p>8:00-18:00（仅收市话费）</p> 
				<a rel="nofollow" class="btn btn-line-primary btn-small J_contactBtn"> <em class="iconfont-message2"></em> 人工客服 </a>
                <div class="follow">关注小米：<a href="https://weibo.com/xiaomishangcheng" class="wb" target="_blank"></a><a class="wx" href="javascript:void(0);" id="J_followWx"></a> <img src="images/wx-img.png" id="J_followWxImg"> 
                </div> 
			</div>
        </div>
    </div>
</div>

        
        
    <div class="site-info">
    <div class="container">
        <div class="logo ir">小米官网</div>
        <div class="info-text">
            <p class="sites">
                <a rel="nofollow" href="//www.mi.com/index.html" target="_blank">小米商城</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//www.miui.com/" target="_blank">MIUI</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//home.mi.com/index.html" target="_blank">米家</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="http://www.miliao.com/" target="_blank">米聊</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//www.duokan.com/" target="_blank">多看</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//game.xiaomi.com/" target="_blank">游戏</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//b.mi.com/?client_id=180100031058&masid=17409.0358" target="_blank">政企服务</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//xiaomi.tmall.com/" target="_blank">小米天猫店</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//privacy.mi.com/all/zh_CN/" target="_blank">小米集团隐私政策</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/f516fe9e2c01.html" target="_blank">小米公司儿童信息保护规则</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/ded8d0e4a77d.html" target="_blank">小米商城隐私政策</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//www.mi.com/about/user-agreement/" target="_blank">小米商城用户协议</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="//static.mi.com/feedback/" target="_blank">问题反馈</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="javascript:void(0);" class="J_siteGlobalRegion">Select Location</a>
            </p>
            <p>
                &copy;
                <a href="javascript:;" target="_blank" title="mi.com">mi.com</a> 京ICP证110507号
                <a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow">京ICP备10046444号</a>
                <a rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020134" target="_blank">京公网安备11010802020134号</a>
                <a href="//www.mi.com/culture-license/" target="_blank">京网文[2020]0276-042号</a>
                <br>
                <a href="//www.mi.com/medical/record/" target="_blank">（京）网械平台备字（2018）第00005号</a>
                <a href="//www.mi.com/medical/qualification/" target="_blank">互联网药品信息服务资格证 (京)-非经营性-2014-0090</a>
                <a href="//www.mi.com/business-license/" target="_blank">营业执照</a>
                <a href="//www.mi.com/medical/list/" target="_blank">医疗器械质量公告</a>
                <br>
                <a href="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/e0c7d4cf3b7cd88de10196e30c92e020.png" target="_blank">增值电信业务许可证</a>&nbsp;网络食品经营备案 京食药网食备202010048 &nbsp;
                <a href="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/c6859168166651511897f54fa1047fe3.png" target="_blank">食品经营许可证</a>
                <br>
                违法和不良信息举报电话：171-5104-4404&nbsp;<a href="https://www.mi.com/intellectual" target="_blank">知识产权侵权投诉</a>&nbsp;本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
            </p>
        </div>
        <div class="info-links">
            <a rel="nofollow" href="//privacy.truste.com/privacy-seal/validation?rid=4fc28a8c-6822-4980-9c4b-9fdc69b94eb8&lang=zh-cn" target="_blank">
                <img rel="nofollow" src="images/truste.png" alt="TRUSTe Privacy Certification">
            </a>
            <a rel="nofollow" href="//search.szfw.org/cert/l/CX20120926001783002010" target="_blank">
                <img rel="nofollow" src="images/v-logo-2.png" alt="诚信网站">
            </a>
            <a rel="nofollow" href="//ss.knet.cn/verifyseal.dll?sn=e12033011010015771301369&ct=df&pa=461082" target="_blank">
                <img rel="nofollow" src="images/v-logo-1.png" alt="可信网站">
            </a>
            <a rel="nofollow" href="//www.mi.com/service/buy/commitment/" target="_blank">
                <img rel="nofollow" src="images/ba10428a4f9495ac310fd0b5e0cf8370.png" alt="诚信经营 放心消费">
            </a>
        </div>
    </div>
    <div class="slogan ir">探索黑科技，小米为发烧而生</div>
</div>




    </div>
</div>
<!-- <script type="text/javascript" src="js/chunk-vendors.50ac3731.js"></script><script type="text/javascript" src="js/cart.51503133.js"></script> -->

</body>
</html>
