<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ES</title>
    <link rel="stylesheet" href="../jquery-ui-1.12.1.custom/jquery-ui.css">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

</head>
<body>
<div id="app">
    <!--<input name="aaa">
    <input type="button" value="搜索" onclick="sou()">-->
   <!-- <span v-for="value in List">
            {{ value }}
    </span>-->






<!--        <label for="tags">标签：</label>-->
        <input id="tags" name="aaa">
        <input type="button" value="搜索" onclick="sou()">


    <ul id="test">

    </ul>


</div>

<script>
   var vm = new Vue({
        el: '#app',

        data: {
            List: ""
        }
    })


   // 本地字符串数组
   $(function() {
       var availableTags = [];
       $( "#tags" ).autocomplete({
           source: availableTags
       });


       $.ajax({
           dataType:"json",
           type:"POST",
           url:"../user/findAll",
           success:function(result) {
               vm.List = result;
               for (var i=0; i<result.length; i++){

                   var str = result[i].userName
                   availableTags.push(str);
               }

           }
       });
   });



   function all(){
       $.ajax({
           dataType:"json",
           type:"POST",
           url:"../user/findAll",
           success:function(result) {
               vm.List = result;

               for (var i=0; i<result.length; i++){
                   var str = "";
                   str += result[i].userName
                   $('#test').html(str);
               }

           }
       });
   }



   function sou(){


        var name = $('input[name="aaa"]').val();
        $.ajax({
            dataType:"json",
            type:"POST",
            url:"../user/findBy",
            data:{name:name},
            success:function(result) {

                vm.List = result;

                var sta = "";
                for (var i=0; i<result.length; i++){
                    var str = result[i].userName
                    sta += "<li>"+str+"</li>";

                }
                $('#test').html(sta);


            }
        });

    }







</script>
</body>
</html>