<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.CarouseMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.Carouse" >
    <id column="si_id" property="siId" jdbcType="INTEGER" />
    <result column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="si_order" property="siOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    si_id, ad_id, title, url, status, si_order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_carouse
    where si_id = #{siId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_carouse
    where si_id = #{siId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.Carouse" >
    insert into t_carouse (si_id, ad_id, title, 
      url, status, si_order
      )
    values (#{siId,jdbcType=INTEGER}, #{adId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{siOrder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.Carouse" >
    insert into t_carouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siId != null" >
        si_id,
      </if>
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="siOrder != null" >
        si_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siId != null" >
        #{siId,jdbcType=INTEGER},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="siOrder != null" >
        #{siOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.Carouse" >
    update t_carouse
    <set >
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="siOrder != null" >
        si_order = #{siOrder,jdbcType=INTEGER},
      </if>
    </set>
    where si_id = #{siId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.Carouse" >
    update t_carouse
    set ad_id = #{adId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      si_order = #{siOrder,jdbcType=INTEGER}
    where si_id = #{siId,jdbcType=INTEGER}
  </update>
  <select id="findCarouse" resultType="Carouse">
    select * from t_carouse where ad_id=1 limit 4
  </select>
</mapper>