<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.GoodsMapper">

    <select id="findAll" resultType="com.jk.entity.Goods">
        select * from goods_spu where category_id in (#{mid})
        <!--<foreach collection="array" open="(" close=")" separator="," item="mid">
            #{mid}
        </foreach>-->
    order by sale desc
    limit 8
    </select>

    <select id="findmiaosha" resultType="com.jk.entity.MiaoshaGoods" parameterType="Integer">
        select a.*,b.images,b.price,b.title,c.`start`,c.`end` from goods_miaosha a left join goods_spu b on a.goods_id = b.id LEFT join miaotime c on a.time_id = c.id
        WHERE c.id = #{num}
    </select>

    <select id="findLie" resultType="com.jk.entity.Classify" parameterType="Integer">
        SELECT * FROM goods_classify WHERE category_id = #{num}
    </select>

    <select id="findAie" resultType="com.jk.entity.Goods">

        select a.*,b.label from goods_spu a left join goods_label b on a.label = b.id
        WHERE a.category_id = ${mid} and  a.label in (${lab})

    </select>


    <select id="findAlls" resultType="com.jk.pojo.EsGoods">

        select a.id,a.title,b.`name` types from goods_spu a LEFT join goods_category b on a.category_id = b.id

    </select>
    <select id="queryGoodsbyIdCart" parameterType="int" resultType="com.jk.entity.Specs">
        select p.*,s.title,s.images from goods_spu s left join goods_specs p on s.id=p.goodspu_id where p.id in (#{goodsId})
	</select>

    <select id="findCart" parameterType="String" resultType="com.jk.entity.Specs">
        select p.*,s.title,s.images from goods_spu s left join goods_specs p on s.id=p.goodspu_id where p.id in (${chkvalue})
    </select>


    <select id="findProductById" resultType="Product" parameterType="Integer">
        select * from goods_spu where id=#{id}
    </select>

    <select id="findSpecsList" resultType="Specs" parameterType="Integer">
        SELECT a.* FROM goods_specs a,goods_spu b where a.goodspu_id=b.id and b.id=#{id}
    </select>




</mapper>