<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.GoodsMapper">

    <select id="findAll" resultType="com.jk.entity.Goods">
        select * from goods_spu where category_id in
        <foreach collection="array" open="(" close=")" separator="," item="mid">
            #{mid}
        </foreach>
    order by sale desc
    limit 8
    </select>

    <select id="findmiaosha" resultType="com.jk.entity.MiaoshaGoods" parameterType="Integer">
        select a.*,b.images,b.price,b.title,c.`start`,c.`end` from goods_miaosha a left join goods_spu b on a.goods_id = b.id LEFT join miaotime c on a.time_id = c.id
        WHERE c.id = #{num}
    </select>

    <select id="findProductById" resultType="Product" parameterType="Integer">
        select * from goods_spu where id=#{id}
    </select>




</mapper>